.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bg-clr{
  background: rgb(44, 44, 44);
}

.clr-light{
  color: white;
}

.top-scroll{
  margin: 2.5%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4vh;
  background: rgb(61, 61, 61);
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 9; 
  transition: all .7s;
}

.top{
  height: 4%; 
}